@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.Footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.3);
}
.Footer--title {
    font-family: 'Lobster', 'Forum', cursive;
    font-size: 18pt;
    cursor: default;
}
.Footer--capital {
    font-size: 32pt;
}
.Footer--git-icon {
    margin-right: 10px;
}
.Footer--link, .Footer--link:visited {
    color: rgba(255, 255, 255, 0.3);
    text-align: left;
}
.Footer--link:hover {
    color: rgba(255, 255, 255, 0.5);
}
button {
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: #777;
    border: none;
    padding: 8px;
}