.Pagetable {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Pagetable--tableActions {
    position: fixed;
    line-height: 30px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    transform: translateX(-100%);
}
.Pagetable--tableActions > * {
    height: 18px;
    margin: 6px;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
}
.Pagetable table > tbody > tr:hover > .Pagetable--tableActions > * {
    opacity: 0.4;
}
.Pagetable table > tbody > tr:hover > .Pagetable--tableActions > *:hover {
    opacity: 0.8;
}

.Pagetable--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}
.Pagetable--footer input[type=button] {
    height: 100%;
    background: transparent;
    border: 1px solid #e6e6e6;
    color: #666;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    cursor: pointer;
}
.Pagetable--footer input[type=button]:hover {
    background: white;
    color: #333;
    border-color: #d6d6d6;
}
.Pagetable--footer input[type=button]:first-child {
    border-width: 0 1px 0 0;
}
.Pagetable--footer input[type=button]:last-child {
    border-width: 0 0 0 1px;
}