.QueryTextInput {
    width: 100%;
}
.QueryTextInput input {
    width: 120px;
    border-radius: 4px 0 0 4px;
}
.QueryTextInput button {
    background: #e8e8e8;
    border: none;
    cursor: pointer;
}
.QueryTextInput button:hover {
    background: white;
}
.QueryTextInput span {
    padding: 4px;
    color: #777;
    background: #e8e8e8;
    padding: 8px;
    width: 100%;
    text-align: left;
    border-radius: 0 4px 4px 0;
}
