a, button {
    text-decoration: none;
    cursor: pointer;
}

a.default, button.default {
    background: transparent;
    color: #777;
    font-size: 1.1rem;
    font-weight: 600;
    min-width: 120px;
    border: none;
    border-radius: 1px;
    padding: 8px;
    margin: 4px;
    transition: 0.4s;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
a.primary, button.primary {
    color: #444;
}
a.default:hover, button.default:hover {
    background-color: white;
    color: #880000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
a.danger:hover, button.danger:hover {
    background-color: #FFCCCC;
    color: #CC0000;
}
.menu-item {
    color: #666;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    line-height: 30px;
    border-radius: 1px;
    padding: 12px 8px;
    transition: 0.4s;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.menu-item:hover {
    color: #600;
    background: #f9f9f9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(255, 255, 255, 0.2), 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.report-item {
    color: #666;
    font-weight: 600;
    width: 100%;
    text-align: left;
    line-height: 24px;
    border-radius: 1px;
    padding: 4px 8px;
    transition: 0.4s;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.report-item:hover {
    color: #600;
    background: rgba(0, 0, 0, 0.1);
}