.Company {
    position: fixed;
    left: 0;
    line-height: 50px;
    font-size: 12pt;
    color: #ada7a2;
    padding-left: 16px
}
.User {
    position: fixed;
    right: 0;
    line-height: 50px;
    font-size: 12pt;
    color: #ada7a2;
    padding-right: 16px
}