.QueryTextInput {
    width: 100%;
}
.QueryTextInput--id {
    width: 100px;
    border-radius: 2px 0 0 4px !important;
}
.QueryTextInput button {
    background: #e8e8e8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}
.QueryTextInput button:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.QueryTextInput--description {
    padding: 4px;
    color: #777;
    background: #e8e8e8;
    padding: 8px;
    width: 100%;
    text-align: left;
    border-radius: 0 2px 4px 0 !important;
}
