@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.Footer {
    width: 100%;
}
.Footer--text {
    font-family: 'Lobster', 'Forum', cursive;
    font-size: 18pt;
    color: rgba(255, 255, 255, 0.3);
    cursor: default;
}
.Footer--capital {
    font-size: 32pt;
}
