@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Lobster');

.Footer {
    width: 100%;
}
.Footer--obsidian {
    font-family: 'Lobster', 'Forum', cursive;
    font-size: 18pt;
    color: #aaa;
}
.Footer--obsidian-o {
    font-family: 'Lobster', 'Forum', cursive;
    font-size: 32pt;
    color: #aaa;
}